@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #333;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2% 5%;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 25px;
    color: #333;
    text-decoration: none;
    font-weight: 600;
}

#cart-icon {
    position: relative;
    display: flex;
    font-size: 30px;
    cursor: pointer;
}

#cart-icon .cart-item-count {
    position: absolute;
    top: 0;
    right: -6px;
    width: 20px;
    height: 20px;
    background: #e35f26;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}